

#container-registro
    width: 800px
    min-height: 400px
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    #registro
        width: 35%
        margin-left: 10px
        label 
            line-height: 2;
            font-weight: 500;
            letter-spacing: 1px;
    #gastos
        width: 60%
        display: flex
        flex-flow: column wrap
        align-items: center
        #vista_gastos
            margin-bottom: 20px
            h2
                text-align: center
                text-transform: uppercase
                color: rgba(0, 0, 0, 0.6);
            .gasto_item
                width: 300px;
                /* border: 1px solid rgba(0, 0, 0, 0.4); */
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                display: flex;
                justify-content: space-around;
                margin-bottom: 5px;
                align-items: center;
            .gasto_item .item_monto
                background-color: #4EA8DE;
                color: white;
                padding: 5px;
                border-radius: 3px;
                font-family: sans-serif;

                
        #estados
            p
                display: block
                background: red 
                width: 290px
                height: 40px
                padding: 14px
                color: white;
                text-transform: capitalize;
                border-radius: 5px;
                // margin: 0px auto 10px
            #restante
                background-color: #17c3b2;
            #presupuesto
                background-color: #fe6d73
#container-registro.active
    display: block